#root {
  height: 100vh;
  display: grid;
  place-content: center;
}

.app {
  max-width: 800px;
}

h1,
p {
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
}

p {
  margin-bottom: 1rem;
}

@media (max-width: 783px) {
  .app {
    max-width: 360px;
  }

  #root {
    display: flex;
    justify-content: center;
  }
}

.input-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
}

.settings {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.setting {
  background: #3a3a3a;
  border-radius: 4px;
  padding: 0.25rem;
  width: 160px;
  cursor: pointer;
}

.textarea-wrapper {
  min-width: 300px;
}

.generate-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

textarea {
  min-width: 300px;
  min-height: 200px;
  font: inherit;
}

label {
  margin-left: 4px;
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
}

.quick-fill-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (prefers-color-scheme: light) {
  .setting {
    background: #e1e1e1;
  }
}