#root {
  height: 100vh;
  display: grid;
  place-content: center;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
}

.settings {
  padding: 1rem;
  outline: 2px solid green;
}

.textarea-wrapper {
  min-width: 300px;
}

.generate-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

textarea {
  min-width: 300px;
  min-height: 200px;
  font: inherit;
}

label {
  margin-left: 4px;
  margin-right: 12px;
}